@using filipealmeida.Models
@inject IJSRuntime JS
@inject DataService DataService

<nav class="navbar navbar-expand-lg navbar-dark fixed-top px-4">
    <div class="container">
        <a class="navbar-brand" href="#">
            <span>Filipe Almeida</span>
            @if (DataService.Bio != null)
            {
                <span class="separator">|</span>
                <span class="left-span">@DataService.Bio.Title</span>
            }
        </a>
        @if (DataService.Bio != null) {
            <div class="socials">
                <a href="@DataService.Bio.LinkedIn" target="_blank" aria-label="LinkedIn profile of Filipe Almeida" role="link">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        }

        @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> *@
        @* <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="#home" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="#experience">Experience</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="#skills">Skills</NavLink>
                </li>
            </ul>
                    @if (DataService.Bio != null) {
                        <div class="socials">
                            <a href="@DataService.Bio.LinkedIn" target="_blank" aria-label="LinkedIn profile of Filipe Almeida" role="link">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                    }        </div> *@
    </div>
</nav>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("navbarScroll.init");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await DataService.EnsureLoadedAsync();
    }
}