@page "/"

<div class="container text-center my-5">
    <h1>Welcome to My Portfolio</h1>
    <p>Hi, I'm a C# developer showcasing my projects and skills.</p>
    <a href="/projects" class="btn btn-primary">View My Projects</a>
</div>